//Quienes somos
#quienes-somos{
    p{
        text-align: justify;
    }
    article{
        padding: 1.5rem 0;
    }
    img{
        max-width: 95%;
        //efecto imagen traslucida para resoluciones a partir de md
        //filter: opacity(0.7) drop-shadow(0 0 0 map-get($colores,secundario20)); 
    }

    //md
    @media (min-width: 768px) {
        article{
            padding: 0 1.5rem;
        }
        img{
            height: 60vh;
            object-fit: cover;
        }
        p{
            width: 35vw;
        }
    }

}

//Alquiler de mobiliario
#alquiler-mobiliario{
    .row>*{
        padding-left: 0;
        padding-right: 0;
    }

    nav{
        background-color: map-get($colores,principal10);
        .nav-pills, .nav-link {
            text-align: left;
            color: map-get($colores,negro);
            background-color: map-get($colores,transparente);              
        }

        .nav-pills{
            border: none;
        }

        .nav-pills .nav-link.active{
            color: map-get($colores,negro);
            background-color: map-get($colores,transparente);
        }

        a:hover{
            font-weight: $weight700;
        } 
    }

    h2{
        color: map-get($colores,principal80);
        border-bottom: 1px solid map-get($colores,principal);
        padding: 0.5rem 0;
    }

    h5,p,li{
        text-align: center;
        @media (min-width: 768px) {
            text-align: left;
        }
    }

    div.card{
        width: 34rem;
        max-width: 100vw;
        margin-bottom: 1.5rem;
        background-color: map-get($colores,secundario20);
        li{
            background-color: map-get($colores,transparente);
        }
        .list-group{
            --bs-list-group-item-padding-x: 0.5rem;
            --bs-list-group-item-padding-y: 0.25rem;
        }
        //a img{
            //efecto imagen traslucida para resoluciones a partir de md
            //filter: opacity(0.7) drop-shadow(0 0 0 map-get($colores,secundario20)); 
            //&:hover{
                //filter: none;
            //}
        @media (min-width: 768px) {
            height: 17rem;//debe tener el mismo height que la img
            a img{
                height: 16.9rem; //debe tener el mismo height que el anterior menos aprox 0.1 (el border tiene 1px)
                object-fit: cover;
            }
            
        }
        
    }
}

//Servicios
#servicios{
    div.card{
        height: 60vh;
        img{
            height: 60vh;//debe ser el mismo height que el anterior
            object-fit: cover;
        }
    }

    //filtro imagen traslucida 
    //img{
        //filter: opacity(0.8) drop-shadow(0 0 0 map-get($colores,principal));
    //}
    
    h2,p,small{
        color: map-get($colores,blanco);
        text-shadow: 1px 1px 5px map-get($colores,negro);
        font-weight: $weight700;
    }

    svg{
        width: 3.5em;
        height: 3.5em;
        fill: map-get($colores,principal);
        &:hover {
            fill: map-get($colores,secundario) ;
        }
    }
}

//Nuestros eventos
#nuestros-eventos{
    --bs-gutter-x: 0!important;
    .row{
        --bs-gutter-x: 0!important;
    }

    a{
        img{
        padding: 0.2rem;
        }
    }

    //clases para ajustar la ventana modal a la foto
    .modal {
        --bs-modal-width: 33vw;
    }
    .modal-horizontal {
        --bs-modal-width: 44vw!important; //proporcion 3/4
    }
    
    //clases para redimensionar imagenes -> aplicar a las etiquetas <a> y <img>
    .cuadrado-grande{
        height: 70vh;
        width: 100%;
        object-fit: cover;
    }
    .rectangulo{
        height: 35vh;
        width: 100%;
        object-fit: cover;
    }
    .cuadrado-chico{
        height: 35vh;
        width: 100%;
        object-fit: cover;
    }

    //efecto imagen traslucida para resoluciones a partir de md
    //a img{
        //filter: opacity(0.7) drop-shadow(0 0 0 map-get($colores,principal));
        //&:hover{
            //filter: none;
        //}
    //}
}

//Cotiza tu evento
#cotiza-tu-evento{
    *{
        text-align: left;
    }

    .form {
        margin: 1em;
        background-color: map-get($colores, principal40);
        border: solid 1px map-get($colores, principal);
        border-radius: 0.25rem;
        @media (min-width: 768px) {
            width: 75%;
        }
    }

    .button {
        color: map-get($colores, blanco);
        background-color: map-get($colores, principal40);
        border: solid 1px map-get($colores, principal);
        border-radius: 0.25rem;
        @include font (1.5rem, $weight500);
        padding: 0.5rem 1.5rem;
        margin: 1rem 0;
        &:hover{
            background-color: map-get($colores, principal);
        }
    }

    h2{
        text-align: center;
        color: map-get($colores, blanco);
        background-color: map-get($colores, principal40); 
        padding: 0.5rem 0;
        margin-bottom: 0;    
    }

    h4{
        color: map-get($colores, principal);
        border-top: 1px solid map-get($colores,principal);
        padding: 1rem;
        margin: 0;
    }

    legend {
        padding: 0 1rem;
    }

    input{
        padding-left: 0.2rem;
        margin-bottom: 0.2rem;
        font-size: 0.9rem;
    }

    label{
        font-size: 0.9rem;
    }

   h5{
    margin-top: 0.5rem;
   }

   .input-numeros{
    width: 4rem;
   }

   div.accordion {
    width: fit-content;
    img{
        width: 100px;
    }
    &  button label{
        padding-left: 0.2rem;
       }
   }

   .mensajeFinal{
    padding-left: 5rem;
    width: 100%;
   }

    
    form a {
        //text-decoration: none; 
    }
    
    input.button:hover {
        //color: #ecb365; 
    }
    
    fieldset.form h2 {
        //color: #ecb365;
        //font-weight: 400; 
    }
    
    fieldset.form h3 {
       // margin-top: 1em;
        //text-align: left;
        //font-size: 1.2em;
        //font-weight: 400; 
    }
    
    

    @each $opcion in fecha, carpa, mesa, silla, vajilla, salas, fiestas, deco, catering {
        #collapse-#{$opcion} {
            display: none;
        }

        ##{$opcion}Si:checked~#collapse-#{$opcion} {
            display: block;
        }
    }
}